Root.

<TextOnly Level="1" />

<Element Level="1" />

<ElementWithChildren Level="1" />

Root text.

<p CaSed="Asdf">More text from root in paragraph.</p>

<a href="#" title="test">link</a>

<ElementWithChildren Level="1" />
